body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}
  
.container {
    text-align: center;
    padding: 20px;
}
  
.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}
  
.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}
  
.page-logo {
    width: 200px;
}
  
.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
  
body > img {
    margin: 0 10px;
}
  
img {
    max-height: 250px;
}

.text, .bt{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
}

input, button, select{
    background-color: white;
    border: 1px solid rgb(65, 65, 146);
}

p{
    color: white;
}

select{
    color: black;
    cursor: pointer;
}

.bt, button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}


  